/*Style Master*/


img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    }


body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/*Nav styles*/

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper:hover a {
    color: black;
}

/*Portofolio Styles*/

.portofolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portofolio-item-wrapper {
    position: relative;
}

.portofolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img  {
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    transition: 0.9s;
    font-weight: 600; /*also add the font-weight here to avoid flickering 
    (so the compiler reads it from a transparent state*/
    color: transparent;
}
/*Needs to be specific with selector*/

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    font-style: oblique;
    color:  darkseagreen;
}

.img-darken {
    transition: 1s, 2s;
    filter: brightness(10%);
}

/*travail de style sur "logo". Le but est d'afficher un logo transparent et qui transitionne 
au blanc quand on "hover" dessus*/

.jm-logo {
    position: relative;
	display: block;
	padding: 60px;
}

.jm-logo span {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.jm-logo a:hover span {
    max-width: 100%;
    background: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}